{{- if .Values.operator.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "parallax.fullname" . }}-operator
  namespace: {{ include "parallax.namespace" . }}
  labels:
    {{- include "parallax.labels" . | nindent 4 }}
    app.kubernetes.io/component: operator
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: metrics
      protocol: TCP
      name: metrics
    - port: 8081
      targetPort: health
      protocol: TCP
      name: health
  selector:
    {{- include "parallax.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: operator
{{- end }}